node_modules/
build/
coverage/
./yarn-error.log
.env
examples/generate_file_example/**/*.txt
examples/generate_file_example/**/*.TXT
examples/load_file_example/errors/*.txt
examples/load_file_example/errors/*.TXT
examples/load_file_example/archives/*.txt
examples/load_file_example/errors/*.TXT
.nyc_output
test-results.xml
